{% extends "base.html" %} {% block content %}
<div class="row"><h1>Edit</h1></div>

<form action="/update" method="POST">
<input type="hidden" name="id" value="{{aTask[0]}}"/>
  <div class="row">

    <label> task</label>
    <input type="text" name="task"value = "{{aTask[1]}}" />
  </div>
  <div class = "row">
    <label> Due_Date</label>
    <input type="text" name="due_date"value = "{{aTask[2]}}" />
  </div>
  <div class="row">
    <label> Note</label>
    <input type="text" name="note" value = "{{aTask[3]}}" />
  </div>
  <div class="row">
    <label> Status</label>
    <input type="text" name="status" value = "{{aTask[4]}}" />
  </div>  
    <input type="submit" value="Save update">

  </div>
</form>
{% endblock %}
