{% extends "base.html" %} {% block content %}
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Due date</th>
        <th>description</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in to_do_list %}
      <tr>
        <td>{{todo.id}}</td>
        <td>{{todo.task}}</td>
        <td>{{todo.due_date}}</td>
        <td>{{todo.note}}</td>
        <td>{{todo.status}}</td>
        <td>
          <a href="/edit/{{todo.id}}" class="btn btn-outline-primary btn-sm"
            >Edit</a
          >
          <a href="/view/{{todo.id}}" class="btn btn-outline-primary btn-sm"
            >View</a
          >
          <a href="/delete/{{todo.id}}" class="btn btn-outline-primary btn-sm"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row">
  <a href="/new" class="btn btn-outline-success">create task</a>
</div>
{%endblock%}
